# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Text backup files
*.bak

#Database
*.sql
MariaBonita/migrations/0011_carritocompras_cestacarrito.py
.idea/misc.xml
.idea/Ciudadela.iml
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css.abe9eb5e7ae5.map
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css.abe9eb5e7ae5.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.css.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.f4cd9354988d.css
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.f4cd9354988d.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.07f5043300a9.css
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.07f5043300a9.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css.a49de18316ef.map
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css.a49de18316ef.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap-grid.min.css.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css.a7ef3eadb1fa.map
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css.a7ef3eadb1fa.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.css.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.db80ba7f1dbd.css
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.db80ba7f1dbd.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.522e4ec96beb.css
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.522e4ec96beb.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.b03d3adf2dfd.map
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.b03d3adf2dfd.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.css
mediafile/MariaBonita/bootstrap/css/bootstrap.css.09cdae4ebe2b.map
mediafile/MariaBonita/bootstrap/css/bootstrap.css.09cdae4ebe2b.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap.css.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.e04beb39d488.css
mediafile/MariaBonita/bootstrap/css/bootstrap.e04beb39d488.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.min.3afe15e97673.css
mediafile/MariaBonita/bootstrap/css/bootstrap.min.3afe15e97673.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css.37323da8812e.map
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css.37323da8812e.map.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css.gz
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css.map
mediafile/MariaBonita/bootstrap/css/bootstrap.min.css.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.6386470cd249.js
mediafile/MariaBonita/bootstrap/js/bootstrap.6386470cd249.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.4d5e7e6ccbe7.js
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.4d5e7e6ccbe7.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js.4d6538c06c82.map
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js.4d6538c06c82.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js.map
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.js.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.7fd2f04e75bd.js
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.7fd2f04e75bd.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.f71e1f682219.map
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.f71e1f682219.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.map
mediafile/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.js
mediafile/MariaBonita/bootstrap/js/bootstrap.js.04bdc8749363.map
mediafile/MariaBonita/bootstrap/js/bootstrap.js.04bdc8749363.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.js.map
mediafile/MariaBonita/bootstrap/js/bootstrap.js.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.min.6bea60c34c5d.js
mediafile/MariaBonita/bootstrap/js/bootstrap.min.6bea60c34c5d.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js.159c3a0fc6e3.map
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js.159c3a0fc6e3.map.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js.gz
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js.map
mediafile/MariaBonita/bootstrap/js/bootstrap.min.js.map.gz
mediafile/MariaBonita/jquery/jquery-3.5.1.min.dc5e7f18c8d3.js
mediafile/MariaBonita/jquery/jquery-3.5.1.min.dc5e7f18c8d3.js.gz
mediafile/MariaBonita/jquery/jquery-3.5.1.min.js
mediafile/MariaBonita/jquery/jquery-3.5.1.min.js.gz
mediafile/MariaBonita/recursos/css/mariabonita.7b5abb507d8e.css
mediafile/MariaBonita/recursos/css/mariabonita.c6b2b2df544a.css
mediafile/MariaBonita/recursos/css/mariabonita.c6b2b2df544a.css.gz
mediafile/MariaBonita/recursos/css/mariabonita.css
mediafile/MariaBonita/recursos/css/mariabonita.css.gz
mediafile/MariaBonita/recursos/images/fondoBody.08deb1ef79ef.jpg
mediafile/MariaBonita/recursos/images/fondoBody.jpg
mediafile/MariaBonita/recursos/images/icono.png
mediafile/MariaBonita/recursos/images/logo.f5f4865ee785.jpg
mediafile/MariaBonita/recursos/images/logo.jpg
mediafile/MariaBonita/recursos/js/PeticionesAjax.js
mediafile/admin/css/autocomplete.css
mediafile/admin/css/base.css
mediafile/admin/css/changelists.css
mediafile/admin/css/dashboard.css
mediafile/admin/css/fonts.css
mediafile/admin/css/forms.css
mediafile/admin/css/login.css
mediafile/admin/css/responsive_rtl.css
mediafile/admin/css/responsive.css
mediafile/admin/css/rtl.css
mediafile/admin/css/widgets.css
mediafile/admin/css/vendor/select2/LICENSE-SELECT2.md
mediafile/admin/css/vendor/select2/select2.css
mediafile/admin/css/vendor/select2/select2.min.css
mediafile/admin/fonts/LICENSE.txt
mediafile/admin/fonts/README.txt
mediafile/admin/fonts/Roboto-Bold-webfont.woff
mediafile/admin/fonts/Roboto-Light-webfont.woff
mediafile/admin/fonts/Roboto-Regular-webfont.woff
mediafile/admin/img/calendar-icons.svg
mediafile/admin/img/icon-addlink.svg
mediafile/admin/img/icon-alert.svg
mediafile/admin/img/icon-calendar.svg
mediafile/admin/img/icon-changelink.svg
mediafile/admin/img/icon-clock.svg
mediafile/admin/img/icon-deletelink.svg
mediafile/admin/img/icon-no.svg
mediafile/admin/img/icon-unknown-alt.svg
mediafile/admin/img/icon-unknown.svg
mediafile/admin/img/icon-viewlink.svg
mediafile/admin/img/icon-yes.svg
mediafile/admin/img/inline-delete.svg
mediafile/admin/img/LICENSE
mediafile/admin/img/README.txt
mediafile/admin/img/search.svg
mediafile/admin/img/selector-icons.svg
mediafile/admin/img/sorting-icons.svg
mediafile/admin/img/tooltag-add.svg
mediafile/admin/img/tooltag-arrowright.svg
mediafile/admin/img/gis/move_vertex_off.svg
mediafile/admin/img/gis/move_vertex_on.svg
mediafile/admin/js/actions.js
mediafile/admin/js/actions.min.js
mediafile/admin/js/autocomplete.js
mediafile/admin/js/calendar.js
mediafile/admin/js/cancel.js
mediafile/admin/js/change_form.js
mediafile/admin/js/collapse.js
mediafile/admin/js/collapse.min.js
mediafile/admin/js/core.js
mediafile/admin/js/inlines.js
mediafile/admin/js/inlines.min.js
mediafile/admin/js/jquery.init.js
mediafile/admin/js/popup_response.js
mediafile/admin/js/prepopulate_init.js
mediafile/admin/js/prepopulate.js
mediafile/admin/js/prepopulate.min.js
mediafile/admin/js/SelectBox.js
mediafile/admin/js/SelectFilter2.js
mediafile/admin/js/timeparse.js
mediafile/admin/js/urlify.js
mediafile/admin/js/admin/DateTimeShortcuts.js
mediafile/admin/js/admin/RelatedObjectLookups.js
mediafile/admin/js/vendor/jquery/jquery.js
mediafile/admin/js/vendor/jquery/jquery.min.js
mediafile/admin/js/vendor/jquery/LICENSE.txt
mediafile/admin/js/vendor/select2/LICENSE.md
mediafile/admin/js/vendor/select2/select2.full.js
mediafile/admin/js/vendor/select2/select2.full.min.js
mediafile/admin/js/vendor/select2/i18n/ar.js
mediafile/admin/js/vendor/select2/i18n/az.js
mediafile/admin/js/vendor/select2/i18n/bg.js
mediafile/admin/js/vendor/select2/i18n/ca.js
mediafile/admin/js/vendor/select2/i18n/cs.js
mediafile/admin/js/vendor/select2/i18n/da.js
mediafile/admin/js/vendor/select2/i18n/de.js
mediafile/admin/js/vendor/select2/i18n/el.js
mediafile/admin/js/vendor/select2/i18n/en.js
mediafile/admin/js/vendor/select2/i18n/es.js
mediafile/admin/js/vendor/select2/i18n/et.js
mediafile/admin/js/vendor/select2/i18n/eu.js
mediafile/admin/js/vendor/select2/i18n/fa.js
mediafile/admin/js/vendor/select2/i18n/fi.js
mediafile/admin/js/vendor/select2/i18n/fr.js
mediafile/admin/js/vendor/select2/i18n/gl.js
mediafile/admin/js/vendor/select2/i18n/he.js
mediafile/admin/js/vendor/select2/i18n/hi.js
mediafile/admin/js/vendor/select2/i18n/hr.js
mediafile/admin/js/vendor/select2/i18n/hu.js
mediafile/admin/js/vendor/select2/i18n/id.js
mediafile/admin/js/vendor/select2/i18n/is.js
mediafile/admin/js/vendor/select2/i18n/it.js
mediafile/admin/js/vendor/select2/i18n/ja.js
mediafile/admin/js/vendor/select2/i18n/km.js
mediafile/admin/js/vendor/select2/i18n/ko.js
mediafile/admin/js/vendor/select2/i18n/lt.js
mediafile/admin/js/vendor/select2/i18n/lv.js
mediafile/admin/js/vendor/select2/i18n/mk.js
mediafile/admin/js/vendor/select2/i18n/ms.js
mediafile/admin/js/vendor/select2/i18n/nb.js
mediafile/admin/js/vendor/select2/i18n/nl.js
mediafile/admin/js/vendor/select2/i18n/pl.js
mediafile/admin/js/vendor/select2/i18n/pt-BR.js
mediafile/admin/js/vendor/select2/i18n/pt.js
mediafile/admin/js/vendor/select2/i18n/ro.js
mediafile/admin/js/vendor/select2/i18n/ru.js
mediafile/admin/js/vendor/select2/i18n/sk.js
mediafile/admin/js/vendor/select2/i18n/sr-Cyrl.js
mediafile/admin/js/vendor/select2/i18n/sr.js
mediafile/admin/js/vendor/select2/i18n/sv.js
mediafile/admin/js/vendor/select2/i18n/th.js
mediafile/admin/js/vendor/select2/i18n/tr.js
mediafile/admin/js/vendor/select2/i18n/uk.js
mediafile/admin/js/vendor/select2/i18n/vi.js
mediafile/admin/js/vendor/select2/i18n/zh-CN.js
mediafile/admin/js/vendor/select2/i18n/zh-TW.js
mediafile/admin/js/vendor/xregexp/LICENSE.txt
mediafile/admin/js/vendor/xregexp/xregexp.js
mediafile/admin/js/vendor/xregexp/xregexp.min.js
MariaBonita/migrations/0001_initial.py
MariaBonita/migrations/0002_productos.py
MariaBonita/migrations/0003_cliente.py
MariaBonita/migrations/0004_carritocompras.py
MariaBonita/migrations/0005_cestacarrito.py
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css.abe9eb5e7ae5.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css.abe9eb5e7ae5.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.css.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.f4cd9354988d.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.f4cd9354988d.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.07f5043300a9.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.07f5043300a9.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css.a49de18316ef.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css.a49de18316ef.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-grid.min.css.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css.a7ef3eadb1fa.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css.a7ef3eadb1fa.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.css.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.db80ba7f1dbd.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.db80ba7f1dbd.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.522e4ec96beb.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.522e4ec96beb.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.b03d3adf2dfd.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.b03d3adf2dfd.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap-reboot.min.css.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.css
staticfiles/MariaBonita/bootstrap/css/bootstrap.css.09cdae4ebe2b.map
staticfiles/MariaBonita/bootstrap/css/bootstrap.css.09cdae4ebe2b.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap.css.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.e04beb39d488.css
staticfiles/MariaBonita/bootstrap/css/bootstrap.e04beb39d488.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.3afe15e97673.css
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.3afe15e97673.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css.37323da8812e.map
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css.37323da8812e.map.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css.gz
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css.map
staticfiles/MariaBonita/bootstrap/css/bootstrap.min.css.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.6386470cd249.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.6386470cd249.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.4d5e7e6ccbe7.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.4d5e7e6ccbe7.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js.4d6538c06c82.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js.4d6538c06c82.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.js.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.7fd2f04e75bd.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.7fd2f04e75bd.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.f71e1f682219.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.f71e1f682219.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.bundle.min.js.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.js.04bdc8749363.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.js.04bdc8749363.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.js.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.js.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.6bea60c34c5d.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.6bea60c34c5d.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js.159c3a0fc6e3.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js.159c3a0fc6e3.map.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js.gz
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js.map
staticfiles/MariaBonita/bootstrap/js/bootstrap.min.js.map.gz
staticfiles/MariaBonita/jquery/jquery-3.5.1.min.dc5e7f18c8d3.js
staticfiles/MariaBonita/jquery/jquery-3.5.1.min.dc5e7f18c8d3.js.gz
staticfiles/MariaBonita/jquery/jquery-3.5.1.min.js
staticfiles/MariaBonita/jquery/jquery-3.5.1.min.js.gz
staticfiles/MariaBonita/recursos/css/mariabonita.7b5abb507d8e.css
staticfiles/MariaBonita/recursos/css/mariabonita.c6b2b2df544a.css
staticfiles/MariaBonita/recursos/css/mariabonita.c6b2b2df544a.css.gz
staticfiles/MariaBonita/recursos/css/mariabonita.css
staticfiles/MariaBonita/recursos/css/mariabonita.css.gz
staticfiles/MariaBonita/recursos/images/fondoBody.08deb1ef79ef.jpg
staticfiles/MariaBonita/recursos/images/fondoBody.jpg
staticfiles/MariaBonita/recursos/images/icono.png
staticfiles/MariaBonita/recursos/images/logo.f5f4865ee785.jpg
staticfiles/MariaBonita/recursos/images/logo.jpg
staticfiles/MariaBonita/recursos/js/PeticionesAjax.js
staticfiles/admin/css/autocomplete.css
staticfiles/admin/css/base.css
staticfiles/admin/css/changelists.css
staticfiles/admin/css/dashboard.css
staticfiles/admin/css/fonts.css
staticfiles/admin/css/forms.css
staticfiles/admin/css/login.css
staticfiles/admin/css/responsive_rtl.css
staticfiles/admin/css/responsive.css
staticfiles/admin/css/rtl.css
staticfiles/admin/css/widgets.css
staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
staticfiles/admin/css/vendor/select2/select2.css
staticfiles/admin/css/vendor/select2/select2.min.css
staticfiles/admin/fonts/LICENSE.txt
staticfiles/admin/fonts/README.txt
staticfiles/admin/fonts/Roboto-Bold-webfont.woff
staticfiles/admin/fonts/Roboto-Light-webfont.woff
staticfiles/admin/fonts/Roboto-Regular-webfont.woff
staticfiles/admin/img/calendar-icons.svg
staticfiles/admin/img/icon-addlink.svg
staticfiles/admin/img/icon-alert.svg
staticfiles/admin/img/icon-calendar.svg
staticfiles/admin/img/icon-changelink.svg
staticfiles/admin/img/icon-clock.svg
staticfiles/admin/img/icon-deletelink.svg
staticfiles/admin/img/icon-no.svg
staticfiles/admin/img/icon-unknown-alt.svg
staticfiles/admin/img/icon-unknown.svg
staticfiles/admin/img/icon-viewlink.svg
staticfiles/admin/img/icon-yes.svg
staticfiles/admin/img/inline-delete.svg
staticfiles/admin/img/LICENSE
staticfiles/admin/img/README.txt
staticfiles/admin/img/search.svg
staticfiles/admin/img/selector-icons.svg
staticfiles/admin/img/sorting-icons.svg
staticfiles/admin/img/tooltag-add.svg
staticfiles/admin/img/tooltag-arrowright.svg
staticfiles/admin/img/gis/move_vertex_off.svg
staticfiles/admin/img/gis/move_vertex_on.svg
staticfiles/admin/js/actions.js
staticfiles/admin/js/actions.min.js
staticfiles/admin/js/autocomplete.js
staticfiles/admin/js/calendar.js
staticfiles/admin/js/cancel.js
staticfiles/admin/js/change_form.js
staticfiles/admin/js/collapse.js
staticfiles/admin/js/collapse.min.js
staticfiles/admin/js/core.js
staticfiles/admin/js/inlines.js
staticfiles/admin/js/inlines.min.js
staticfiles/admin/js/jquery.init.js
staticfiles/admin/js/popup_response.js
staticfiles/admin/js/prepopulate_init.js
staticfiles/admin/js/prepopulate.js
staticfiles/admin/js/prepopulate.min.js
staticfiles/admin/js/SelectBox.js
staticfiles/admin/js/SelectFilter2.js
staticfiles/admin/js/timeparse.js
staticfiles/admin/js/urlify.js
staticfiles/admin/js/admin/DateTimeShortcuts.js
staticfiles/admin/js/admin/RelatedObjectLookups.js
staticfiles/admin/js/vendor/jquery/jquery.js
staticfiles/admin/js/vendor/jquery/jquery.min.js
staticfiles/admin/js/vendor/jquery/LICENSE.txt
staticfiles/admin/js/vendor/select2/LICENSE.md
staticfiles/admin/js/vendor/select2/select2.full.js
staticfiles/admin/js/vendor/select2/select2.full.min.js
staticfiles/admin/js/vendor/select2/i18n/ar.js
staticfiles/admin/js/vendor/select2/i18n/az.js
staticfiles/admin/js/vendor/select2/i18n/bg.js
staticfiles/admin/js/vendor/select2/i18n/ca.js
staticfiles/admin/js/vendor/select2/i18n/cs.js
staticfiles/admin/js/vendor/select2/i18n/da.js
staticfiles/admin/js/vendor/select2/i18n/de.js
staticfiles/admin/js/vendor/select2/i18n/el.js
staticfiles/admin/js/vendor/select2/i18n/en.js
staticfiles/admin/js/vendor/select2/i18n/es.js
staticfiles/admin/js/vendor/select2/i18n/et.js
staticfiles/admin/js/vendor/select2/i18n/eu.js
staticfiles/admin/js/vendor/select2/i18n/fa.js
staticfiles/admin/js/vendor/select2/i18n/fi.js
staticfiles/admin/js/vendor/select2/i18n/fr.js
staticfiles/admin/js/vendor/select2/i18n/gl.js
staticfiles/admin/js/vendor/select2/i18n/he.js
staticfiles/admin/js/vendor/select2/i18n/hi.js
staticfiles/admin/js/vendor/select2/i18n/hr.js
staticfiles/admin/js/vendor/select2/i18n/hu.js
staticfiles/admin/js/vendor/select2/i18n/id.js
staticfiles/admin/js/vendor/select2/i18n/is.js
staticfiles/admin/js/vendor/select2/i18n/it.js
staticfiles/admin/js/vendor/select2/i18n/ja.js
staticfiles/admin/js/vendor/select2/i18n/km.js
staticfiles/admin/js/vendor/select2/i18n/ko.js
staticfiles/admin/js/vendor/select2/i18n/lt.js
staticfiles/admin/js/vendor/select2/i18n/lv.js
staticfiles/admin/js/vendor/select2/i18n/mk.js
staticfiles/admin/js/vendor/select2/i18n/ms.js
staticfiles/admin/js/vendor/select2/i18n/nb.js
staticfiles/admin/js/vendor/select2/i18n/nl.js
staticfiles/admin/js/vendor/select2/i18n/pl.js
staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
staticfiles/admin/js/vendor/select2/i18n/pt.js
staticfiles/admin/js/vendor/select2/i18n/ro.js
staticfiles/admin/js/vendor/select2/i18n/ru.js
staticfiles/admin/js/vendor/select2/i18n/sk.js
staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
staticfiles/admin/js/vendor/select2/i18n/sr.js
staticfiles/admin/js/vendor/select2/i18n/sv.js
staticfiles/admin/js/vendor/select2/i18n/th.js
staticfiles/admin/js/vendor/select2/i18n/tr.js
staticfiles/admin/js/vendor/select2/i18n/uk.js
staticfiles/admin/js/vendor/select2/i18n/vi.js
staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
staticfiles/admin/js/vendor/xregexp/LICENSE.txt
staticfiles/admin/js/vendor/xregexp/xregexp.js
staticfiles/admin/js/vendor/xregexp/xregexp.min.js
mediafile/mariabonita/Captura_de_pantalla_de_2020-06-06_15-49-30.png
